ul.notifications-list li {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.notificationsCounter {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.notificationIcon {
  font-size: 30px;
}
.removeNotification {
  z-index: 999;
  font-size: 12px !important;
  position: absolute;
  top: -35px;
  right: 0px;
}
<<<<<<< HEAD
.navbar { 
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0; 
  padding: 0; 
} 
=======
.navbar {
  position: fixed;
  min-width: 83%;
  width: auto;
}
>>>>>>> 723e2cc45c50244d3d09a9e4a20c8153b15e792d
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  position: absolute;
  bottom: -30px;
  right: 0px;
  top: auto;
}
footer.main-footer a {
  cursor: pointer;
}
footer.main-footer p.text-muted {
  margin-bottom: 0;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background: #ecf0f5;
}
.skin-blue .sidebar-menu > li.header {
  color: #000;
  background: #e4e9ef;
}
.sidebar-menu .append {
  margin-top: -44px;
}
.skin-blue .treeview-menu>li>a {
    color: #000;
}

.skin-blue .treeview-menu>li>a:hover {
    color: #000;
}

.sidebar-menu .treeview-menu .append {
  margin-top: -30px;
}
.skin-blue .sidebar-menu .append:hover,
.skin-blue .sidebar-menu > li.active > a.append {
  color: #fff;
  background: #ecf0f5;
  border: 0;
}
.skin-blue .main-header .logo {
  border-bottom: 1px solid #ecf0f5;
}
.checkbox label {
  padding-left: 0;
}
.checkbox label div {
  margin-right: 5px;
  margin-top: -2px;
}
.skin-blue .main-header .logo {
    background-color: #ecf0f5;
}

.skin-blue .main-header .logo:hover {
    background-color: #ecf0f5;
}

_all-skins.min.css:1
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #000;
    background: #fff;
    border-left-color: #ecf0f5;
}

.skin-blue .sidebar a:hover {
    text-decoration: none;
    background: #ecf0f5;
}

.skin-blue .sidebar a {
    color: #000;
}
.content
{
    background: #FFF;
}
.skin-blue .content-header {
    background: #FFF;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #fff;
    z-index: 800;
}
.skin-blue .main-header .logo {
    background-color: #ecf0f5;
    color: #000;
    border-bottom: 0 solid transparent;
}
.sidebar a {
  background: #ecf0f5;
} 

.skin-blue .sidebar-menu>li:hover>a, 
.skin-blue .sidebar-menu>li.active>a {
    color: #000;
    background: #e4e9ef ;
    border-left-color: #000;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
    color: #000 ;
}
.skin-blue .main-header .navbar {
    background-color: #e4595a;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #ea8182;
}

.box.box-primary {
    border-top-color: #e4595a;
}

.btn-primary {
    background-color: #e4595a;
    border-color: #fb8d97;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #ea8182;
    border-color: #e4595a;

}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #e4595a;
    border-color: #e4595a;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #e4595a;
    border-color: #fb8d97;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e4595a;
    border-color: #fb8d97;
}

a {
    color: #e4595a;
}
a:hover {
    font-weight: bold;
    color: #e4595a;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    display: none;
}

.btn-primary .btn-block .btn-flat {
    background-color: #da4f52;
    border-color: #367fa9;
}
  .logo {
    position: fixed;
  }
  .sidebar {
    position: fixed;
    min-width: 230px;
    width: auto;
  } 
/*# sourceMappingURL=asgard.css.map */
